@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";


/* ========== TOKENS GLOBAIS ========== */
:root {
    --card-bg: #0e4a45;
    --card-border: #36ffe0;
    --card-text: #e9fffc;
    --card-muted: #bfe5de;

    --btn-back: #532f2f;
    --btn-ok: #0f635d;

    --ring: rgba(54, 255, 224, 0.35);

    --radius-lg: 18px;
    --shadow-card: 0 8px 30px rgba(0, 0, 0, 0.35);

}


body,
html {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
    font-family: "Inter", serif;
}

/* Largura e altura da scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Fundo da barra */
::-webkit-scrollbar-track {
  background: #0a2439; /* cor de fundo */
  border-radius: 8px;
}

/* "Thumb" (parte que arrasta) */
::-webkit-scrollbar-thumb {
  background-color: #9dffd9; /* cor do thumb */
  border-radius: 8px;
  border: 2px solid #0a2439; /* cria espaço entre thumb e track */
}

/* Hover no thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #66ccaa;
}
